.command-histories {
    overflow-y: scroll;
    height: 300px;
    width: 80%;
    border: 1px solid darkgray;
    background-color: #282b33;
    color: #e5e5e5;
    padding: 10px;
    .path {
        color: #2e5caf
    }
    .cmd-detail {
        color: #00a66a
    }
    .error-message {
      color: red;
    }
    .text-result {
      color: white
    }
    .listing-results {
      .file {
        color: white;
        padding: 0 5px;
      }
      .folder {
        color: #9EFAE6;
        padding: 0 5px;
      }
    }
}

.current-working-folder {
  width: 80%;
  padding: 20px 0 10px;

  .label {
    color: black;
  }
  .value {
    color: #2e5caf
  }
}

.input-cmd {
  width: 80%;
}

