.left {
  display: flex;
    flex: 1;
    flex-direction: column;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  .example {
    display: block;
    padding: 10px 0;
    b {
      // padding: 0 10px;
    }
  }
  .unavailable {
    text-decoration: line-through;
    color: red
  }
}

.command-histories {
    overflow-y: scroll;
    height: 300px;
    width: 80%;
    border: 1px solid darkgray;
    background-color: #282b33;
    color: #e5e5e5;
    padding: 10px;
    .path {
        color: #2e5caf
    }
    .cmd-detail {
        color: #00a66a
    }
    .error-message {
        color: red;
    }
    .text-result {
        color: white
    }
}

.child {
    padding-left: 30px
}

.listing-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    .file,
    .folder {
        padding: 0 5px;
    }
    .file {
        color: white;
    }
    .folder {
        color: #9EFAE6;
    }
    .column-name {
        width: 100%;
        padding-bottom: 10px;
        span {
            color: #9979fd
        }
    }
    .column {
        display: inline;
    }
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        span {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
        }
    }
    .created-at,
    .updated-at,
    .size {
        padding: 0 10px;
        color: #adadad;
    }
}

.current-working-folder {
    width: 80%;
    padding: 20px 0 10px;
    .label {
        color: black;
    }
    .value {
        color: #2e5caf
    }
}

.input-cmd {
    width: 80%;
}